:root {
  background-color: #282c34;
  color: white;
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
}

.App {
  display: flex;
  flex-direction: column;
  margin: -8px;
  padding: 0;
}

.App-header {
  margin: 0;
  padding: 0;
  background-color: black;
  width: 100%; /* Ensure the header takes up the full width */
  height: 50px;
  font-size: 10px;
}

.App-body {
  margin: 0;
  padding: 0;
  color: white;
  flex: 1;
  text-align: center;
}